Toronto Crime analysis

In [10]:
import numpy as np 
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import calendar
from datetime import datetime
plt.style.use('seaborn')

Read dataset

In [11]:
mci_df = pd.read_csv('C:/Users/Melkamu/OneDrive - University of Kwazulu-Natal/Season7/YU/Course 1/Project 1/Melkamu/Dataset/From Toronto Police acessed on Feb 02_2020/MCI_2014_to_2018.csv')
mci_df.head(2)

,X,Y,Index_,event_unique_id,occurrencedate,reporteddate,premisetype,ucr_code,ucr_ext,offence,...,occurrencedayofyear,occurrencedayofweek,occurrencehour,MCI,Division,Hood_ID,Neighbourhood,Lat,Long,ObjectId
0,-79.385193,43.659229,2349,GO-20149004286,2014-06-20T10:55:00.000Z,2014-06-20T13:20:00.000Z,Apartment,2130,210,Theft Over,...,171.0,Friday,10,Theft Over,D52,76,Bay Street Corridor (76),43.659229,-79.385193,2001
1,-79.425400,43.777592,2350,GO-20142411379,2014-07-02T00:20:00.000Z,2014-07-02T02:58:00.000Z,Outside,1457,100,Pointing A Firearm,...,183.0,Wednesday,0,Assault,D32,36,Newtonbrook West (36),43.777592,-79.425400,2002

In [3]:
mci_df.shape
#or print('Shape:',mci_df.shape)
#len(mci_df)

(167525, 29)

In [14]:
print('************* INFO ******************')
print(mci_df.info())

************* INFO ******************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 167525 entries, 0 to 167524
Data columns (total 29 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   X                    167525 non-null  float64
 1   Y                    167525 non-null  float64
 2   Index_               167525 non-null  int64
 3   event_unique_id      167525 non-null  object
 4   occurrencedate       167525 non-null  object
 5   reporteddate         167525 non-null  object
 6   premisetype          167525 non-null  object
 7   ucr_code             167525 non-null  int64
 8   ucr_ext              167525 non-null  int64
 9   offence              167525 non-null  object
 10  reportedyear         167525 non-null  int64
 11  reportedmonth        167525 non-null  object
 12  reportedday          167525 non-null  int64
 13  reporteddayofyear    167525 non-null  int64
 14  reporteddayofweek    167525 non-null  object
 15  reportedhour         167525 non-null  int64
 16  occurrenceyear       167476 non-null  float64
 17  occurrencemonth      167476 non-null  object
 18  occurrenceday        167476 non-null  float64
 19  occurrencedayofyear  167476 non-null  float64
 20  occurrencedayofweek  167476 non-null  object
 21  occurrencehour       167525 non-null  int64
 22  MCI                  167525 non-null  object
 23  Division             167525 non-null  object
 24  Hood_ID              167525 non-null  int64
 25  Neighbourhood        167525 non-null  object
 26  Lat                  167525 non-null  float64
 27  Long                 167525 non-null  float64
 28  ObjectId             167525 non-null  int64
dtypes: float64(7), int64(10), object(12)
memory usage: 37.1+ MB
None

In [16]:
print('*************************** COLUMNS ******************************************')
print(mci_df.columns)

*************************** COLUMNS ******************************************
Index(['X', 'Y', 'Index_', 'event_unique_id', 'occurrencedate', 'reporteddate',
       'premisetype', 'ucr_code', 'ucr_ext', 'offence', 'reportedyear',
       'reportedmonth', 'reportedday', 'reporteddayofyear',
       'reporteddayofweek', 'reportedhour', 'occurrenceyear',
       'occurrencemonth', 'occurrenceday', 'occurrencedayofyear',
       'occurrencedayofweek', 'occurrencehour', 'MCI', 'Division', 'Hood_ID',
       'Neighbourhood', 'Lat', 'Long', 'ObjectId'],
      dtype='object')

Removing the columns we no longer use including the index from the csv file because the df here also has got index

In [12]:
mci_df.drop(["Index_","X", "Y", "event_unique_id", "ucr_code", "ucr_ext", "ObjectId"], axis = 1, inplace = True)  
# or mci_df= mci_df.drop(columns=["Index_", "X", "Y", "event_unique_id", "ucr_code", "ucr_ext", "ObjectId"])

In [6]:
mci_df.head(2)

,occurrencedate,reporteddate,premisetype,offence,reportedyear,reportedmonth,reportedday,reporteddayofyear,reporteddayofweek,reportedhour,...,occurrenceday,occurrencedayofyear,occurrencedayofweek,occurrencehour,MCI,Division,Hood_ID,Neighbourhood,Lat,Long
0,2014-06-20T10:55:00.000Z,2014-06-20T13:20:00.000Z,Apartment,Theft Over,2014,June,20,171,Friday,13,...,20.0,171.0,Friday,10,Theft Over,D52,76,Bay Street Corridor (76),43.659229,-79.385193
1,2014-07-02T00:20:00.000Z,2014-07-02T02:58:00.000Z,Outside,Pointing A Firearm,2014,July,2,183,Wednesday,2,...,2.0,183.0,Wednesday,0,Assault,D32,36,Newtonbrook West (36),43.777592,-79.425400

In [26]:
print('***************** INDEX *****************')
print(mci_df.index)

***************** INDEX *****************
RangeIndex(start=0, stop=167525, step=1)

In [17]:
#check for duplicates
print('Duplicates:',mci_df.duplicated().any())

#to check unique occurences
#mci_df.occurrencedayofweek.unique()

Duplicates: True

In [13]:
#Checking for missings
print('Missing Data')
mci_df.isnull().sum().sort_values(ascending=False)

Missing Data

occurrenceyear         49
occurrencedayofweek    49
occurrencedayofyear    49
occurrenceday          49
occurrencemonth        49
reporteddayofweek       0
reporteddate            0
premisetype             0
offence                 0
reportedyear            0
reportedmonth           0
reportedday             0
reporteddayofyear       0
Long                    0
reportedhour            0
Lat                     0
occurrencehour          0
MCI                     0
Division                0
Hood_ID                 0
Neighbourhood           0
occurrencedate          0
dtype: int64

In [5]:
# cleaning date format before proceeeding to date related analysis
# we can use occurencedate to replace missings of 
#occurence related times(occurrenceyear, occurrencedayofweek, occurrencedayofyear, occurrenceday, occurrencemonth)
# convert dates to pandas datetime format
mci_df['occurrencedate'] = mci_df['occurrencedate'].astype('datetime64[ns]')
mci_df['reporteddate'] = mci_df['reporteddate'].astype('datetime64[ns]')

#or u can use  mci_df.occurrencedate = pd.to_datetime(mci_df.occurrencedate).dt.tz_localize(None)
#and   mci_df.reporteddate = pd.to_datetime(mci_df.reporteddate).dt.tz_localize(None)

In [8]:
mci_df.head(2)

,occurrencedate,reporteddate,premisetype,offence,reportedyear,reportedmonth,reportedday,reporteddayofyear,reporteddayofweek,reportedhour,...,occurrenceday,occurrencedayofyear,occurrencedayofweek,occurrencehour,MCI,Division,Hood_ID,Neighbourhood,Lat,Long
0,2014-06-20 10:55:00,2014-06-20 13:20:00,Apartment,Theft Over,2014,June,20,171,Friday,13,...,20.0,171.0,Friday,10,Theft Over,D52,76,Bay Street Corridor (76),43.659229,-79.385193
1,2014-07-02 00:20:00,2014-07-02 02:58:00,Outside,Pointing A Firearm,2014,July,2,183,Wednesday,2,...,2.0,183.0,Wednesday,0,Assault,D32,36,Newtonbrook West (36),43.777592,-79.425400

In [7]:
mci_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 167525 entries, 0 to 167524
Data columns (total 22 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   occurrencedate       167525 non-null  datetime64[ns]
 1   reporteddate         167525 non-null  datetime64[ns]
 2   premisetype          167525 non-null  object
 3   offence              167525 non-null  object
 4   reportedyear         167525 non-null  int64
 5   reportedmonth        167525 non-null  object
 6   reportedday          167525 non-null  int64
 7   reporteddayofyear    167525 non-null  int64
 8   reporteddayofweek    167525 non-null  object
 9   reportedhour         167525 non-null  int64
 10  occurrenceyear       167476 non-null  float64
 11  occurrencemonth      167476 non-null  object
 12  occurrenceday        167476 non-null  float64
 13  occurrencedayofyear  167476 non-null  float64
 14  occurrencedayofweek  167476 non-null  object
 15  occurrencehour       167525 non-null  int64
 16  MCI                  167525 non-null  object
 17  Division             167525 non-null  object
 18  Hood_ID              167525 non-null  int64
 19  Neighbourhood        167525 non-null  object
 20  Lat                  167525 non-null  float64
 21  Long                 167525 non-null  float64
dtypes: datetime64[ns](2), float64(5), int64(6), object(9)
memory usage: 28.1+ MB

In [ ]:
mci_df['occurrenceyear'] = mci_df['occurrenceyear'].astype('datetime64[ns]')

Now lets generate missings of (occurrenceyear, occurrencedayofweek, occurrencedayofyear, occurrenceday, occurrencemonth)
from occurencedate
to generate from scratch #df['month'] = pd.DatetimeIndex(df['birth_date']).month

In [20]:
mci_df['occurrenceyear'] = mci_df['occurrenceyear'].astype('Int32') 
mci_df["occurrenceyear"] = mci_df.apply(lambda row: row["occurrencedate"].year if np.isnan(row["occurrenceyear"]) else row["occurrenceyear"], axis=1)
#mci_df.head(2)

In [ ]:
#mci_df['occurrencemonth'] = mci_df.apply(lambda row: calendar.month_name[row['occurrencedate'].month]  if len(row['occurrencemonth'])<4 else row['occurrencemonth'], axis=1)

In [ ]:
mci_df['occurrencedayofweek'] = mci_df.apply(lambda row: row['occurencedate'].week if np.isnan(row['occurrencedayofweek']) else row['occurrencedayofweek'], axis=1)

In [ ]:
#mci_df['occurrencedayofyear'] = mci_df.apply(lambda row: row['occurencedate'].doy if np.isnan(row['occurrencedayofyear']) else row['occurrencedayofyear'], axis=1)

In [ ]:
#mci_df['occurrenceday'] = mci_df.apply(lambda row: row['occurencedate'].day if np.isnan(row['occurrenceday']) else row['occurrenceday'], axis=1)

In [ ]:
#mci_df['occurrencemonth'] = mci_df.apply(lambda row: row['occurencedate'].month if np.isnan(row['occurrencemonth']) else row['occurrencemonth'], axis=1)

In [54]:
#Lets  format all date variables before further manupliation
import calendar
from datetime import datetime
mci_df['reportedyear'] = mci_df['reportedyear'].astype('Int32') 
mci_df['reportedmonth'] = mci_df['reportedmonth'].astype(str) 
mci_df['reporteddayofweek'] = mci_df['reporteddayofweek'].astype(str) 
mci_df['reportedday'] = mci_df['reportedday'].astype('Int32') 
mci_df['reporteddayofyear'] = mci_df['reporteddayofyear'].astype('Int32')
mci_df['reportedhour'] = mci_df['reportedhour'].astype('Int32') 
mci_df['occurrenceyear'] = mci_df['occurrenceyear'].astype('Int32') 
mci_df['occurrencemonth'] = mci_df['occurrencemonth'].astype(str) 
mci_df['occurrenceday'] = mci_df['occurrenceday'].astype('Int32') 
mci_df['occurrencedayofyear'] = mci_df['occurrencedayofyear'].astype('Int32') 
mci_df['occurrencedayofweek'] = mci_df['occurrencedayofweek'].astype(str) 
mci_df['occurrencehour'] = mci_df['occurrencehour'].astype('Int32') 


mci_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 167525 entries, 0 to 167524
Data columns (total 22 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   occurrencedate       167525 non-null  datetime64[ns]
 1   reporteddate         167525 non-null  datetime64[ns]
 2   premisetype          167525 non-null  object
 3   offence              167525 non-null  object
 4   reportedyear         167525 non-null  Int32
 5   reportedmonth        167525 non-null  object
 6   reportedday          167525 non-null  Int32
 7   reporteddayofyear    167525 non-null  Int32
 8   reporteddayofweek    167525 non-null  object
 9   reportedhour         167525 non-null  Int32
 10  occurrenceyear       167476 non-null  Int32
 11  occurrencemonth      167525 non-null  object
 12  occurrenceday        167476 non-null  Int32
 13  occurrencedayofyear  167476 non-null  Int32
 14  occurrencedayofweek  167525 non-null  object
 15  occurrencehour       167525 non-null  Int32
 16  MCI                  167525 non-null  object
 17  Division             167525 non-null  object
 18  Hood_ID              167525 non-null  int64
 19  Neighbourhood        167525 non-null  object
 20  Lat                  167525 non-null  float64
 21  Long                 167525 non-null  float64
dtypes: Int32(8), datetime64[ns](2), float64(2), int64(1), object(9)
memory usage: 24.3+ MB

We can leave some of the variables like division, Neighbourhood as an object, 

We may need to convert offenc to categorical columns/factors.
we will only keep the most frequent categories and we may need to lable the rest as others.

In [68]:
mci_df.offence.unique()
#mci_df.occurrencedayofweek.unique()

array(['Theft Over', 'Pointing A Firearm', 'Robbery With Weapon', 'B&E',
       'Assault', "B&E W'Intent", 'Assault With Weapon',
       'Assault Bodily Harm', 'Robbery - Other',
       'Unlawfully In Dwelling-House', 'Robbery - Mugging',
       'Administering Noxious Thing', 'Theft From Mail / Bag / Key',
       'Assault Peace Officer', 'Theft From Motor Vehicle Over',
       'Robbery - Business', 'Robbery - Swarming',
       'Assault - Resist/ Prevent Seiz', 'Robbery - Purse Snatch',
       'Robbery - Financial Institute', 'Aggravated Assault',
       'Disarming Peace/Public Officer', 'Robbery - Taxi',
       'Theft - Misapprop Funds Over', 'Use Firearm / Immit Commit Off',
       'Theft Over - Shoplifting', 'Robbery - Home Invasion', 'B&E Out',
       'Robbery - Vehicle Jacking', 'Robbery - Atm',
       'Robbery - Delivery Person', 'Crim Negligence Bodily Harm',
       'Theft Over - Bicycle', 'Unlawfully Causing Bodily Harm',
       'Aggravated Aslt Peace Officer', 'Theft Over - Distraction',
       'Robbery - Armoured Car', 'Traps Likely Cause Bodily Harm',
       'B&E - To Steal Firearm', 'Aggravated Assault Avails Pros',
       'B&E - M/Veh To Steal Firearm', 'Discharge Firearm - Recklessly',
       'Assault - Force/Thrt/Impede', 'Discharge Firearm With Intent',
       'Assault Peace Officer Wpn/Cbh', 'Air Gun Or Pistol: Bodily Harm',
       'Theft Of Utilities Over', 'Set/Place Trap/Intend Death/Bh',
       'Theft Of Motor Vehicle'], dtype=object)

In [64]:
mci_df.premisetype.unique()

array(['Apartment', 'Outside', 'House', 'Commercial', 'Other'],
      dtype=object)

In [60]:
mci_df.MCI.unique()

array(['Theft Over', 'Assault', 'Robbery', 'Break and Enter',
       'Auto Theft'], dtype=object)

In [16]:
#converting offence to categorical type
#offence_cat  = list(mci_df['offence'].value_counts()[12:].index)
#mci_df.loc[mci_df['offence'].isin(offence_cat) , mci_df.columns=='offence'] = 'OTHER'
#mci_df['offence'] = pd.Categorical(mci_df['offence'])

In [23]:
mci_df.head(2)

,X,Y,Index_,event_unique_id,occurrencedate,reporteddate,premisetype,ucr_code,ucr_ext,offence,...,occurrencedayofweek,occurrencehour,MCI,Division,Hood_ID,Neighbourhood,Lat,Long,ObjectId,occurencedayofweek
0,-79.385193,43.659229,2349,GO-20149004286,2014-06-20 10:55:00,2014-06-20 13:20:00,Apartment,2130,210,Theft Over,...,Friday,10,Theft Over,D52,76,Bay Street Corridor (76),43.659229,-79.385193,2001,Friday
1,-79.425400,43.777592,2350,GO-20142411379,2014-07-02 00:20:00,2014-07-02 02:58:00,Outside,1457,100,OTHER,...,Wednesday,0,Assault,D32,36,Newtonbrook West (36),43.777592,-79.425400,2002,Wednesday

In [71]:
#mci_df.occurrenceyear.unique()
#mci_df.reportedyear.unique()

<IntegerArray>
[2014, 2015, 2016, 2017, 2018]
Length: 5, dtype: Int32

In [69]:
# save and export the cleaned file in csv format
export_csv = mci_df.to_csv (r'C:/Users/Melkamu/OneDrive - University of Kwazulu-Natal/Season7/YU/Course 1/Project 1/Melkamu/Dataset/From Toronto Police acessed on Feb 02_2020/Cleaning and preparation/mci_cleaned2.csv', index = None, header=True) 
#Notethat Don't forget to add '.csv' at the end of the path

Explanatory analysis